.third_container_1{
    height: 750px;
    width: 100%;
    
}
/* .third_row1{
    margin-top:10px;
} */

.third_col{
    text-align:right;
    margin-top: 80px;
    /* border-right: 2px solid black;
    height:500px; */
    
    
}
.third_col1{
    text-align:left;
    margin-top: 80px;
    
  
   

}
.btn{
    background-image:linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
    font-size: larger;
    font-weight: bold;
    color:white;
    padding: 10px;
    width: 200px;
    font-family: sans-serif;
    border: none;
    
    
}




.thirdsecond_col1{
    border-right: 5px solid  #ade4ea ;
    height: 500px;
    margin-top: 50px;
    text-align: right !important;
    color: black;
}
.unordered{
    list-style-type:none;
    

}
.list{
    margin-bottom: 150px;
    margin-top: 60px;
}
.list1{
    margin-bottom: 150px;
}
.thirdsecond2_col1{
    margin-top:120px;
    text-align:left !important;
    

}
.unordered11{
    list-style-type:none;
    color:black;
    

}
.third_rowtow{
    font-family: sans-serif;
}
.list_{
    margin-top:-30px;
}
.list_1{
margin-top:20px;
}
.list_2{
    margin-top: 110px;
}
.list_3{
    margin-top:20px;
}
.list_4{
    margin-top: 100px;
}
.list_5{
    margin-top: 20px;
}