.fifth_container1{
    height:1000px;
    width: 100%;
    /* background-color: #e5e9ec; */
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 50px;
    
}
.fifth_row{
    margin-top: 80px;

    
}
.fifth_col1{
    margin-left: 10px;
    margin-right: 10px;


}
/* .fifth_col1:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

} */