.p-4{
    background-image:linear-gradient(180deg, #766dff 0%, #88f3ff 100%);
   
   
}
.nav-Link{
    gap:50px !important;
}
.NAV-ITEMS{
    margin-right:30px;
    color: white;
    font-size: large;
    /* color: transparent; */
    
}